<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <header>
      {{#if @blog.logo}}
        <a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
      {{/if}}

      <h3>{{@blog.title}}</h3>

      {{navigation}}
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <section id="contact">
          <a class="map" href="https://goo.gl/maps/DDxai" target="_blank">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center=+Princeton,+NJ+08540&zoom=9&size=200x200&maptype=roadmap&markers=color:blue%7Clabel:C%7C40.3572976,-74.6672226"/>
          </a>
          <address>
            24 Dep Derp Road <br/>
            Derp, NJ 08540 <br/>
            <a class="grey" href="https://goo.gl/maps/DDxai" target="_blank">Click here for directions</a> <br/>
            <br/>
            Email: <a href="mailto:info@mlr.io">info@mlr.io</a> <br/>
            Call: <a href="tel:+19999999999">(999) 999-9999</a> <br/>
            Text: <a href="sms:+19999999999">(999) 999-9999</a>
          </address>
      </section>
      <section id="social">
        <h3>Follow us!</h3>
        <!-- TWITTER -->
        <a href="https://twitter.com/mlr_io" class="twitter-follow-button" data-show-count="true">Follow @mlr_io</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <!-- G+ -->
        <div class="g-plusone" data-annotation="inline" data-width="300"></div>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
      </section>
      <section id="copyright">
        Copyright &copy; 2014 Major League Robotics | All Rights Reserved <br/>
        MLR&#0153; and Major League Robotics&#0153; are both trademarks of Major League Robotics
      </section>
    </footer>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
  </body>
</html>
